@model List<Golowinskiy.Web.Models.Category.BreadCrumbViewModel>

<div class="breadcrumbs_list">
    @for (int i = 0; i < Model.Count - 1; i++)
    {
        <div class="breadcrumbs_list_item" onclick="goToCategory(@Model[i].Id)">@Model[i].Name<i class="fa fa-angle-right"></i></div>
    }
    <div class="breadcrumbs_list_item" onclick="goToCategory(@Model[Model.Count - 1].Id)">@Model[Model.Count - 1].Name</div>
</div>