<div class="modal_window" id="myModal">
    <i class="fa fa-times" data-dismiss="modal" aria-hidden="true" onclick="CloseModalWindow()"></i>
    <div class="modal_inner">
    </div>
</div>
@section Scripts{ 
<script src="~/js/auth.js"></script>
    }
