@model Golowinskiy.Web.Models.Category.CategoryViewModel

<div>
    <ul class="nav flex-column flex-nowrap text-truncate left-menu">
        <h5>Выберите раздел каталога</h5>
        <ul id="first-menu">
            <li class="nav-item" ">
                <a>{{l1.txt}}</a>

                <ul style="display:none;">
                    <li class="nav-item">
                        <a>{{l2.txt}}</a>

                        <ul style="display:none;">
                            <li class="nav-item">
                                <a>{{l3.txt}}</a>

                                <ul style="display:none;">
                                    <li class="nav-item">
                                        <a>{{l4.txt}}</a>

                                        <ul style="display:none;">
                                            <li class="nav-item">
                                                <a>{{l5.txt}}</a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>

                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>
    </ul>
</div>
