@model List<Golowinskiy.Web.Models.Category.CategoryViewModel>

<link rel="stylesheet" href="~/css/categories-components.css" />
<div class="ps-widget__content">
    <categories items="Model" />
</div>