<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Golowinskiy.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/css/header-components.css" />
        <link rel="stylesheet" href="~/css/footer-components.css" />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
              integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="fon-image">
        <header>
            <div class="header_list">

                <!-- begin show only for mobile fersion-->
                <div class="header_list_item header_list_item_menu" onclick="openMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <!-- end -->

                <div class="header_list_item">
                    <a>
                        <div class="header_list_item_logo">
                            <img src="~/images/logo.png">

                            <!-- begin only show for desktop fersion-->
                            <span onclick="location.href='..'">Портал Головинского района</span>
                            <!-- end -->

                        </div>
                    </a>
                    <div class="header_list_item_welcom">

                        <!-- begin show for desktop fersion-->
                        <h2>Добро пожаловать!</h2>
                        <!-- end -->
                        <!-- begin show only for mobile fersion-->
                        <h4>Добро пожаловать в</h4>
                        <span>Портал Головинского района</span>
                        <!-- end -->
                    </div>
                </div>
                <div class="header_list_item" id="header-viget">
                    <!-- begin show for desktop fersion-->
                    <a>
                        <div class="header_list_item_back">
                            <span id="spanBack" onclick="location.href='../Home/Index'">Вернуться к каталогу</span>
                        </div>
                    </a>
                    <a>
                        <div class="header_list_item_cabinet">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span onclick="location.href='../Cabinet/Cabinet'">Личный кабинет</span>
                            @*<span onclick="showAuthWindow()">Личный кабинет</span>*@
                        </div>
                    </a>
                    <div id="cbn-u"></div>
                    <!-- end -->
                    <!-- begin show for desktop fersion-->
                    <a>
                        <div class="header_list_item_advertisement">
                            <button onclick="location.href='../Product/AddProduct'" type="button">Подать объявление</button>
                        </div>
                    </a>
                    <!-- end -->
                    <a onclick="cartClick()" id="sumLink">
                        <div class="header_list_item_basket">
                            <div class="basket">
                                <img src="~/images/cart.png">
                                <!-- begin show only for mobile fersion-->
                                <div></div>
                                <!-- end -->
                            </div>
                            <!-- begin show for desktop fersion-->
                            <div class="order">
                                <p>Сумма товаров: <span id="productsSum"> руб.</span></p>
                                <p>Количество товаров: <span id="productsCount"> руб.</span></p>
                            </div>
                            <!-- end -->
                        </div>
                    </a>

                </div>
            </div>
        </header>

        <partial name="_CookieConsentPartial" />


        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="data" id="doc_time">
            <p id="doc_clock" class="data-time"></p>
            <p id="doc_day"></p>
        </div>
        <footer id="footer">
            <div class="footer_list">
                <div class="footer_list_item">
                    <p>Головинский район</p>
                    <p>г.Москва, ул.Смольная, 7</p>
                </div>
                <div class="footer_list_item_right">
                    <p>8 (916) 161 61 46</p>
                    <p>golovinskiy-rf@mail.ru</p>
                </div>
            </div>
        </footer>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
