@model List<Golowinskiy_NewBostil.Models.Admin.AdminPanelViewModel>

@{
    ViewData["Title"] = "AdminPanel";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/admin.css" />

<div class="showSpinner">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="dropdownUL">
    <!---->

    <table class="list-group">
        <tr class="static_title">
            <td>
                Имя пользователя
            </td>

            <td>Коэффициент наценки</td>
            <td>Количество товаров</td>
        </tr>

        @for(int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>  <i class="fa fa-user" value="@Model[i].UserId"></i> @Model[i].UserName</td>
                <td class="coef">
                    <p> @Model[i].Coefficient</p>
                    <button class="buttonSendReplace"></button>
                    <input class="formReplace" onkeypress="return /[0-9.]/i.test(event.key)">
                </td>
                <td> @Model[i].CountProducts</td>
            </tr>
        }
    </table>
</div>

@section Scripts{
    <script src="~/js/admin.js"></script>
}
