section.advertisement {
    position: relative;
}

    section.advertisement > a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    section.advertisement > .showSpinner {
        position: fixed;
        top: 48%;
        z-index: 50;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
    }

    section.advertisement > a {
        color: #189691;
    }

    section.advertisement > .showSpinner > i {
        font-size: 60px;
        color: #5c646b;
    }

    section.advertisement > .btn {
        height: 38px;
    }

    .validators {
        border: 1px solid #f00;
        padding: 2%;
        color: #f00;
        border-radius: .25rem;
        display: none;
    }

#submit-area:hover .validators {
    display: block;
}

.showMessage {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 30%;
    right: 30%;
    z-index: 2;
    width: 40%;
}

@media only screen and (max-width: 1078px) {
    .showMessage {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}

.showMessage > i {
    color: rgba(24, 150, 145, 1);
    margin-bottom: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.choosed {
    margin: 35px 0;
}

.contact {
    border: 1px solid rgba(24, 150, 145, 1);
    background: rgba(24, 150, 145, 0.32);
    max-width: 300px;
    margin-left: auto;
}

.no-padding {
    padding: 0;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    overflow: auto;
    border: 1px solid rgba(24, 150, 145, 1);
}

section.advertisement > .btn {
    height: 38px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.upload {
    border: 1px solid rgba(24, 150, 145, 1);
    background-color: #ffffff;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

    .upload > img {
        max-width: 100%;
        width: auto !important;
        height: auto !important;
        max-height: 70px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
        border-style: none;
    }

    .upload > i {
        font-size: 27px;
        color: rgba(24, 150, 145, 1);
    }

.list_photo {
    max-width: 370px;
}

.back a {
    color: rgba(24, 150, 145, 1);
}

.other_fields {
    justify-content: flex-end;
}

    .other_fields > .col-lg-4 {
        margin-right: 35px;
    }

    section.advertisement > .other_fields > p {
        font-size: 17px;
        font-style: italic;
        font-weight: 600;
        margin-right: 28px;
    }

.upload-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

    .upload-images > div {
        width: 100px;
        height: 70px;
        line-height: 68px;
        text-align: center;
        border: 1px solid #189691;
        position: relative;
        margin: 5px 20px 5px 0;
        cursor: pointer;
    }


        .upload-images > div > img {
            max-width: 100%;
            width: auto;
            height: auto;
            max-height: 70px;
            vertical-align: middle;
            border-style: none;
        }

.upload > i.disabled {
    border: 1px solid #05cac3 !important;
    color: #05cac3 !important;
    cursor: auto !important;
}

    .upload > input.disabled {
        border: 1px solid #05cac3 !important;
        color: #05cac3 !important;
        cursor: auto !important;
    }

    .upload-images > i.arrow {
        width: 100px;
        height: 70px;
        border: 1px solid #189691;
        cursor: pointer;
        line-height: 70px;
        text-align: center;
        font-size: 27px;
        color: #189691;
    }

.form-help-text {
    color: red;
    display: none;
}

.categories, .categories-mobile {
    display: none;
}

@media screen and (min-width: 1080px) {
    .categories {
        display: block;
    }
}

@media screen and (max-width: 1079px) {
    .categories-mobile {
        display: block;
    }
}


.text-center {
    text-align: center !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

.h3, h3 {
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.text-right {
    text-align: right !important;
}

.col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px)  {
    .justify-content-md-center {
        justify-content: center !important;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}


a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.pr-2, .px-2 {
    padding-right: .5rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}

@media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
}

@media screen and (min-width: 1080px) {
    .categories {
        display: block;
    }
}

ul.left-menu[_ngcontent-c1] {
    margin: 20px 0 0 0;
    padding: 0;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-column {
    flex-direction: column !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

    ul.left-menu > h5 {
        font-size: 16px;
        padding: 3px;
        font-weight: bold;
        width: 250px;
        background: #ffffff;
        margin: 0;
        border-top: 2px solid #189691;
        border-right: 2px solid #189691;
        border-left: 2px solid #189691;
    }

    ul.left-menu > ul {
        padding: 0;
        width: 250px;
        position: relative;
        border: 2px solid #189691;
    }

    ol ol, ol ul, ul ol, ul ul {
        margin-bottom: 0;
    }

    ul.left-menu > li {
        cursor: pointer;
        list-style: none;
        background: #ffffff;
    }

    ul.left-menu > li > a {
        display: block;
        color: #000000;
        font-size: 12px;
        padding: 2px 10px;
        font-size: 16px;
        font-weight: bold;
    }

.form-group {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group input {
    width: 100%;
    height: 40px;
    border: 1px solid #189691;
    padding-left: 10px;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


section.advertisement > textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    border: 1px solid #189691;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

.btn-block {
    display: block;
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#pp {
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    margin-right: 28px;
}

.btn-primary {
    background-color: #189691 !important;
    border-color: #189691 !important;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
}

#btn-sbmt {
    opacity: .65;
    color: #fff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

i.fa.fa-upload.arrow {
    cursor: pointer;
}

 .upload-images > .upload > i.arrow {
    width: 100px;
    height: 70px;
    height: 70px;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
    font-size: 27px;
    color: #189691;
}

i.delete {
    position: static;
    margin-right: 5px;
    margin-left: -10px;
    margin-bottom: 60px;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    color: black;
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}